<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Examen</title>
</head>
<body>
<h2>Resultaat - Alina Storme</h2>
<br/><br/>
<p>
    <span><b>Id: </b><%= examen.id %></span><br/>
    <span><b>Datum vaststelling jaar: </b><%= examen.datum_vaststelling_jaar %></span><br/>
    <span><b>Datum vaststelling maand: </b><%= examen.datum_vaststelling_maand: %></span><br/>
    <span><b>Datum vaststelling: </b><%= examen.datum_vaststelling %></span><br/>
    <span><b>Opnameplaats straat: </b><%= examen.opnameplaats_straat %></span><br/>
    <span><b>Opnameplaats rijrichting gaand: </b><%= examen.opnameplaats_rijrichting_gaand %></span><br/>
    <span><b>Opnameplaats zone snelheid: </b><%= examen.opnameplaats_zone_snelheid %></span><br/>
    <span><b>Aantal passanten: </b><%= examen.aantal_passanten %></span><br/>
    <span><b>Aantal overtredingen snelheid: </b><%= examen.aantal_overtredingen_snelheid %></span><br/>
    <span><b>Aantal overtredingen roodlicht: </b><%= examen.aantal_overtredingen_roodlicht %></span><br/>
</p>

</body>
</html>